.App {
  text-align: center;
  font-family: Roboto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  padding: 0%;
}

.App-header {
  background-color: #6679ad;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Button {
  background-color: #6679ad;
  min-height: 5vh;
  font-size: calc(2vmin);
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

a {
  text-decoration: none;
  color: ivory;
}

a:hover {
  text-decoration: none;
  color: ivory;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form {
  max-width: 60vw;
}

.IngredientsPage {
  min-height: 100vh;
  background-color: #6679ad;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  flex-direction: column;
}

.IngredientRow {
  display: grid;
  grid-template-columns: 6fr 2fr;
  max-width: 60vw;
}

.IngredientCount {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  border-radius: 25px;
  position: relative;
  padding: 50px 10px;
  background-color: #343a40 !important;
  height: 200px;
  width: auto;
  box-shadow: 0 2px 5px #56556e;
  text-align: left;
  margin: 20px 20px 20px;
}

.recipePage {
  background-color: #6679ad;
  color: white;
  min-height: 100vh;
  text-align: center;
  color: white;
}

.cardRow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: auto;
}

.card img {
  margin: 30px 20px 0 0;
}

.circle-img {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 120px;
  height: 120px;
  object-fit: cover;
}
